#include <stdio.h>

#define buffer_size 10

typedef struct {
} item;

item buffer[buffer_size];
int in = 0;
int out = 0;

int main() {
    item next_produced;
    while (1) {
        // produce an item in next produced
        while (((in + 1) % buffer_size) == out)
            ; /*do nothing*/
        buffer[in] = next_produced;
        in = (in + 1) % buffer_size;
    }

    item next_consumed;
    while (1) {
        while (in == out)
            ; /*do nothing*/
        next_consumed = buffer[out];
        out = (out + 1) % buffer_size;
        /*consume the item in next consumed*/
    }
    return 0;
}
